<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Welcome to Test Project</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/jszip.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>*@
</head>
<body>
    <div title="container" style="position:absolute; height:100%; width:100%;">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/tether")*@
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/kendo")
    @*@Scripts.Render("~/bundles/popMenu")*@
    @*@Scripts.Render("~/bundles/pako")*@
    @Scripts.Render("~/bundles/bootstrap") 
</body>
</html>
